*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build_*.txt
crash_log.txt
err*.log
err*.txt
full_build_log.txt
test_*.txt
app/src/test/java/com/example/stayer/stayer_log.txt
app/src/test/java/com/example/stayer/*.gpx
